<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view contracts="#{templateBean.contract}">
    <ui:composition template="/template.xhtml">
        <ui:define name="pageTitle">#{msg_dashboard['title']}</ui:define>
        <ui:define name="header">
            <h:outputStylesheet name="/css/dashboard.css"/>
            <f:metadata>
                <f:viewAction action="#{dashboardController.checkForRedirection()}"/>
            </f:metadata>
        </ui:define>
        <ui:define name="content">
            <p:growl id="msgs" showDetail="true"/>
            <h1>Dashboard #{dashboardController.selectedSite.name}</h1>

            <h:form>
                <!-- For Mindmap to be correctly displayed, board has to be updated twice -->
                <p:remoteCommand name="updateDashboard" update="board" oncomplete="refreshDashboard();"/>
                <p:remoteCommand name="refreshDashboard" update="board" oncomplete="setupDashboard();"/>
                <p:remoteCommand name="onPanelDrop" actionListener="#{dashboardController.onPanelDrop}"
                                 oncomplete="updateDashboard();"/>
            </h:form>

            <p:outputPanel id="pnlDashboard" style="width:100%; height: 100%;">
                <p:dashboard id="board" model="#{dashboardController.dashboard}" widgetVar="board">
                    <p:ajax event="reorder" listener="#{dashboardController.handleReorder}" update="msgs"/>
                    <c:forEach items="#{dashboardController.panels}" var="panel">
                        <p:panel id="#{panel.id}" header="#{panel.header}" toggleable="true" closable="true">
                            <p:resizable for="#{panel.id}" onResize="handleResize(event, ui)"/>
                            <p:ajax event="close" listener="#{dashboardController.handlePanelClose}"
                                    onstart="handlePanelClose()"
                                    oncomplete="setupDashboard()"/>
                            <f:facet name="actions">
                                <ui:repeat value="#{panel.actions}" var="action">
                                    <h:form>
                                        <p:commandLink action="#{action.getLink()}" onclick="#{action.onClick}"
                                                       styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
                                            <h:outputText styleClass="ui-icon #{action.styleClass}"/>
                                        </p:commandLink>
                                    </h:form>
                                </ui:repeat>
                            </f:facet>
                            <ui:include src="#{panel.includePath}"/>
                        </p:panel>
                    </c:forEach>
                </p:dashboard>

                <p:droppable for="board" tolerance="touch" activeStyleClass="ui-state-highlight">
                    <p:ajax listener="#{dashboardController.onPanelDrop}" update="board"/>
                </p:droppable>
            </p:outputPanel>

            <h:form id="content-form">
                <p:growl id="messages" showDetail="true"/>
                <div id="menu-bottom-btn">
                    <p:commandButton icon="fa fa-plus" oncomplete="PF('menu-bottom').show()"/>
                </div>
                <div class="fullwidth">
                    <p:sidebar widgetVar="menu-bottom" position="right" style="overflow: auto">
                        <h1>Panels</h1>
                        <div id="panel-types">
                            <c:forEach items="#{dashboardController.panelTypes}" var="panelType">
                                <p:panel styleClass="#{panelType.enabled ? '' : 'ui-state-disabled'}">
                                    <div class="dragme">
                                        <div class="dragpanel-data" style="display: none">#{panelType.name}</div>
                                        <h:commandLink action="#{dashboardController.addPanel(panelType.name)}"
                                                       style="text-decoration: none;">
                                            <div class="fa #{panelType.css}" style="padding-right: 5px;"/>
                                            <h:outputText value="#{msg_dashboard['panel.' += panelType.name]}"/>
                                        </h:commandLink>
                                    </div>
                                </p:panel>
                                <br/>
                            </c:forEach>
                        </div>
                    </p:sidebar>
                </div>
            </h:form>

            <h:outputScript name="/js/dashboard.js"/>

        </ui:define>
    </ui:composition>
</f:view>
</html>
