<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<f:view contracts="#{templateBean.contract}">
    <ui:composition template="/template.xhtml">
        <ui:define name="header">
            <f:metadata>
                <f:viewAction action="#{scanController.checkSiteSelected()}"/>
            </f:metadata>
            <h:outputStylesheet name="/css/scan.css"/>
            <h:outputScript name="js/scan.js"/>
        </ui:define>
        <ui:define name="content">
            <h:form id="scan-form">
                <p:remoteCommand name="updateScan" update="scan-form:scan-table"/>
                <p:growl id="hitmeup">
                    <p:autoUpdate/>
                </p:growl>
                <p:dataTable id="scan-table" var="scan" value="#{scanController.networkScans}" reflow="true"
                             paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rows="5" rowsPerPageTemplate="5,10,15" resizableColumns="true" liveResize="true"
                             rowStyleClass="#{scan.state eq 'RUNNING' ? 'scan-state-running' :
                                (scan.state eq 'FINISHED' ? 'scan-state-finished' :
                                (scan.state eq 'ABORTED' ? 'scan-state-aborted' : 'scan-state-pending')) }">
                    <f:facet name="header">
                        <p:commandButton id="columnToggler" type="button" icon="ui-icon-calculator"/>
                        #{scanController.networkScans.size()}
                        #{scanController.networkScans.size() > 1 ? msg['menu.scans'] : msg['menu.scan']}
                        #{msg_scan['scan.forSite'] += ' ' += scanController.selectedSite.name}
                        <p:columnToggler datasource="scan-table" trigger="columnToggler"/>
                    </f:facet>
                    <p:column style="width: 30px; text-align: center;" toggleable="false">
                        <f:facet name="header">
                            <p:commandButton id="btnAddScan" type="button" icon="fa fa-plus"
                                             onclick="PF('overlayAddScan').show(); PF('pnlScanDetail').hide();"
                                             style="width:100%;"/>
                        </f:facet>
                        <p:commandButton update="scan-form:scanDetail" icon="fa fa-arrow-right" style="width:100%;"
                                         onclick="PF('pnlScanDetail').show('#{component.clientId}');">
                            <f:setPropertyActionListener value="#{scan}" target="#{scanController.selectedScan}"/>
                        </p:commandButton>
                    </p:column>
                    <p:column headerText="#{msg_scan['scan.name']}">
                        <h:outputText value="#{scan.name}"/>
                    </p:column>
                    <p:column headerText="#{msg['ipAddress']}">
                        <h:outputText value="#{scan.property.ip}/#{scan.property.subnetBits}"/>
                    </p:column>
                    <p:column headerText="#{msg_scan['scan.scheduleType']}">
                        <h:outputText value="#{scanController.getScheduleTypeText(scan)}"/>
                    </p:column>
                    <p:column headerText="#{msg_scan['scan.state']}">
                        <h:outputText id="row-scan-state" value="#{msg_scan['scan.state.' += scan.state]}"/>
                    </p:column>
                    <p:column headerText="#{msg['actions']}" toggleable="false"
                              style="width: 80px; text-align: center;">
                        <p:commandButton actionListener="#{scanController.startScan(scan)}"
                                         update="scan-form:scan-table"
                                         icon="fa fa-play"/>
                        <p:commandButton onclick="PF('dlgRemoveScan').show();" icon="fa fa-close"
                                         update="scan-form:pnlRemoveScan">
                            <f:setPropertyActionListener value="#{scan}" target="#{scanController.selectedScan}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>

                <p:overlayPanel for="scan-table:btnAddScan" widgetVar="overlayAddScan"
                                dismissable="false" showCloseIcon="true"
                                showEffect="fade" hideEffect="fade">
                    <p:messages id="growl"/>

                    <p:wizard widgetVar="scan-wizard">
                        <p:tab titleStyle="display: none;">
                            <p:outputPanel class="ui-g ui-fluid"
                                           rendered="#{not empty scanController.namedNetworkScans}">
                                <p:outputLabel for="scan-template" value="#{msg_scan['scan.create_from_template']}"
                                               styleClass="ui-g-5"/>
                                <div class="ui-g-7">
                                    <p:selectOneMenu id="scan-template" value="#{scanController.selectedScanTemplate}"
                                                     converter="#{networkScanSelectConverter}">
                                        <f:ajax event="change" render="pnlAddScan"/>
                                        <f:selectItem itemLabel="#{msg['pleaseChoose']}" itemValue=""/>
                                        <f:selectItems value="#{scanController.namedNetworkScans}" var="networkScan"
                                                       itemLabel="#{networkScan.name}" itemValue="#{networkScan}"/>
                                    </p:selectOneMenu>
                                </div>
                            </p:outputPanel>

                            <p:fieldset legend="Scan">
                                <p:panelGrid id="pnlAddScan" columns="3" styleClass="ui-noborder">
                                    <p:outputLabel for="name" value="#{msg_scan['scan.name']}"/>
                                    <p:inputText id="name" value="#{scanController.name}"
                                                 placeholder="#{msg_scan['scan.name.example']}"/>
                                    <div/>

                                    <p:outputLabel for="ip" value="#{msg['networkId']}" indicateRequired="true"/>
                                    <p:inputText id="ip" value="#{scanController.ip}"
                                                 placeholder="#{msg['networkId.example']}"/>
                                    <p:message for="ip"/>

                                    <p:outputLabel for="subnet" value="#{msg['subnet']}" indicateRequired="true"/>
                                    <p:spinner id="subnet" value="#{scanController.subnetBits}" min="0" max="30"
                                               placeholder="#{msg['subnet.example']}"/>
                                    <p:message for="subnet"/>

                                </p:panelGrid>
                            </p:fieldset>
                        </p:tab>

                        <p:tab titleStyle="display: none;">
                            <p:fieldset legend="#{msg_scan['scan.scheduling']}">
                                <p:panelGrid id="pnlScheduling" columns="3" styleClass="ui-noborder">
                                    <p:outputLabel value="#{msg_scan['scheduleType']}"/>
                                    <p:selectOneMenu value="#{scanController.scheduleType}">
                                        <f:ajax event="change" render="pnlScheduling"/>
                                        <f:selectItems value="#{scanController.scheduleTypes}" var="type"
                                                       itemLabel="#{msg_scan['scheduleType.' += type.name()]}"
                                                       itemValue="#{type}"/>
                                    </p:selectOneMenu>
                                    <div/>

                                    <c:if test="#{scanController.scheduleType.name() eq 'ONCE'}">
                                        <p:outputLabel for="scheduled-date"
                                                       value="#{msg_scan['scan.scheduledDate']}"/>
                                        <p:calendar id="scheduled-date" value="#{scanController.scheduledDate}"
                                                    pattern="MM/dd/yyyy HH:mm:ss"/>
                                        <p:message for="scheduled-date"/>
                                    </c:if>
                                    <c:if test="#{scanController.scheduleType.name() eq 'DAILY' or scanController.scheduleType.name() eq 'WEEKLY'}">
                                        <p:column>
                                            <p:outputLabel for="scheduled-interval" value="#{msg_scan['time']}"/>
                                        </p:column>
                                        <p:calendar id="scheduled-interval"
                                                    value="#{scanController.scheduledInterval}"
                                                    pattern="HH:mm" timeOnly="true"/>
                                        <p:message for="scheduled-interval"/>
                                    </c:if>
                                    <c:if test="#{scanController.scheduleType.name() eq 'WEEKLY'}">
                                        <p:outputLabel value="#{msg_scan['scan.days']}"/>
                                        <p:selectManyButton>
                                            <f:selectItem itemLabel="#{msg_scan['day.1']}" itemValue="1"/>
                                            <f:selectItem itemLabel="#{msg_scan['day.2']}" itemValue="2"/>
                                            <f:selectItem itemLabel="#{msg_scan['day.3']}" itemValue="3"/>
                                            <f:selectItem itemLabel="#{msg_scan['day.4']}" itemValue="4"/>
                                            <f:selectItem itemLabel="#{msg_scan['day.5']}" itemValue="5"/>
                                            <f:selectItem itemLabel="#{msg_scan['day.6']}" itemValue="6"/>
                                            <f:selectItem itemLabel="#{msg_scan['day.7']}" itemValue="7"/>
                                        </p:selectManyButton>
                                    </c:if>
                                    <c:if test="#{scanController.scheduleType.name() eq 'CUSTOM'}">
                                        <p:outputLabel value="#{msg_scan['scan.repeatEvery']}"/>
                                        <p:spinner/>
                                        <p:selectOneMenu>
                                            <f:selectItem itemLabel="#{msg_scan['scan.days']}" itemValue="1"/>
                                            <f:selectItem itemLabel="#{msg_scan['scan.weeks']}" itemValue="2"/>
                                            <f:selectItem itemLabel="#{msg_scan['scan.months']}" itemValue="3"/>
                                        </p:selectOneMenu>
                                    </c:if>
                                </p:panelGrid>

                            </p:fieldset>
                        </p:tab>

                        <p:tab titleStyle="display: none;">
                            <p:fieldset legend="#{msg_scan['scan.snmp']}">
                                <p:outputLabel value="#{msg_scan['scan.snmpVersion']}"/>
                                <p:selectOneButton id="select-version" widgetVar="select-version"
                                                   value="#{scanController.snmpVersion}">
                                    <f:ajax event="change" render="pnlSnmpVersion btnSubmit"/>
                                    <f:selectItems value="#{scanController.snmpVersions}" var="version"
                                                   itemValue="#{version}"
                                                   itemLabel="#{msg_scan['scan.snmpVersion.' += version]}"
                                                   itemDescription="#{msg_scan['scan.snmpVersion.' += version += '.hint']}"/>
                                </p:selectOneButton>

                                <p:panelGrid id="pnlSnmpVersion" columns="3" styleClass="ui-noborder">
                                    <c:if test="#{not empty scanController.snmpVersion}">
                                        <p:outputLabel for="oid" value="#{msg_scan['scan.searchCriteria']}"
                                                       indicateRequired="true"/>
                                        <p:column>
                                            <p:selectCheckboxMenu id="oid" value="#{scanController.objectIdentifiers}"
                                                                  converter="#{objectIdentifierSelectConverter}"
                                                                  label="#{msg_scan['scan.searchFor']}"
                                                                  style="width: 80%;">
                                                <f:selectItems value="#{scanController.defaultObjectIdentifiers}"
                                                               var="oid"
                                                               itemLabel="#{oid.name}" itemValue="#{oid}"/>
                                            </p:selectCheckboxMenu>
                                            <div class="fa fa-plus" onclick="PF('dlgAddOid').show();"/>
                                            <p:dialog header="Neues Suchkriterium" widgetVar="dlgAddOid"
                                                      modal="false" resizable="false" showEffect="fade"
                                                      hideEffect="fade">
                                                <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
                                                    <p:outputLabel value="Bezeichnung"/>
                                                    <p:inputText value="#{scanController.newOidLabel}"/>

                                                    <p:outputLabel value="OID"/>
                                                    <p:inputText value="#{scanController.newOidValue}"/>

                                                </p:panelGrid>
                                                <p:commandButton value="#{msg['save']}"
                                                                 actionListener="#{scanController.addOid}"
                                                                 update="pnlSnmpVersion oid"
                                                                 oncomplete="if (!args.validationFailed) { PF('dlgAddOid').hide(); }"/>

                                            </p:dialog>
                                        </p:column>
                                        <p:message for="oid"/>

                                        <p:outputLabel for="snmp-string" value="#{msg_scan['scan.snmpString']}"
                                                       indicateRequired="true"/>
                                        <p:inputText id="snmp-string" value="#{scanController.snmpCommunityString}"
                                                     style="width: 100%;"/>
                                        <p:message for="snmp-string"/>
                                    </c:if>
                                    <c:if test="#{scanController.snmpVersion eq 'VERSION_3'}">
                                        <p:outputLabel value="#{msg_scan['scan.security']}"/>
                                        <p:selectOneMenu value="#{scanController.securityLevel}"
                                                         style="width: 90% !important;">
                                            <f:ajax event="change" render="pnlSnmpVersion btnSubmit"/>
                                            <f:selectItems value="#{scanController.securityLevels}" var="type"
                                                           itemValue="#{type}"
                                                           itemLabel="#{msg_scan['scan.security.' += type.name()]}"
                                                           itemDescription="#{msg_scan['scan.security.' += type.name() += '.hint']}"/>
                                        </p:selectOneMenu>
                                        <div/>

                                        <c:if test="#{scanController.securityLevel eq 'AUTH_NO_PRIV' or scanController.securityLevel eq 'AUTH_PRIV'}">
                                            <p:outputLabel value="#{msg_scan['scan.hashAlgorithm']}"/>
                                            <p:selectOneMenu value="#{scanController.hashAlgorithm}"
                                                             style="width: 90% !important;">
                                                <f:selectItems value="#{scanController.hashAlgorithms}" var="algorithm"
                                                               itemValue="#{algorithm}" itemLabel="#{algorithm}"
                                                               itemDescription="#{msg_scan['scan.hashAlgorithm.' += algorithm.name() += '.hint']}"/>
                                            </p:selectOneMenu>
                                            <div/>
                                        </c:if>

                                        <c:if test="#{scanController.securityLevel eq 'AUTH_PRIV'}">
                                            <p:outputLabel value="#{msg_scan['scan.encryptionAlgorithm']}"/>
                                            <p:selectOneMenu value="#{scanController.encryptionAlgorithm}"
                                                             style="width: 90% !important;">
                                                <f:selectItems value="#{scanController.encryptionAlgorithms}"
                                                               var="algorithm"
                                                               itemValue="#{algorithm}" itemLabel="#{algorithm}"
                                                               itemDescription="#{msg_scan['scan.encryptionAlgorithm.' += algorithm.name() += '.hint']}"/>
                                            </p:selectOneMenu>
                                            <div/>
                                        </c:if>

                                        <p:outputLabel for="snmp-key" value="#{msg_scan['scan.privateKey']}"
                                                       indicateRequired="true"/>
                                        <p:password id="snmp-key" value="#{scanController.privateKey}"
                                                    style="width: 100%;"/>
                                        <div/>

                                        <p:outputLabel for="snmp-username" value="#{msg_scan['scan.snmpUsername']}"
                                                       indicateRequired="true"/>
                                        <p:inputText id="snmp-username" value="#{scanController.snmpUsername}"
                                                     style="width: 100%;"/>
                                        <p:message for="snmp-username"/>

                                        <p:outputLabel for="snmp-password" value="#{msg_scan['scan.snmpPassword']}"
                                                       indicateRequired="true"/>
                                        <p:password id="snmp-password" value="#{scanController.snmpPassword}"
                                                    style="width: 100%;"/>
                                        <p:message for="snmp-password"/>
                                    </c:if>
                                </p:panelGrid>

                                <p:commandButton id="btnSubmit" value="#{msg['save']}"
                                                 update="growl pnlAddScan scan-table"
                                                 validateClient="true"
                                                 disabled="#{empty scanController.snmpVersion}"
                                                 actionListener="#{scanController.addScan}"
                                                 oncomplete="if (!args.validationFailed) { PF('overlayAddScan').hide(); }"/>
                            </p:fieldset>
                        </p:tab>
                    </p:wizard>
                </p:overlayPanel>

                <p:overlayPanel widgetVar="pnlScanDetail" dismissable="false"
                                showCloseIcon="true" showEffect="fade" hideEffect="fade">
                    <p:outputPanel id="scanDetail">
                        <p:panelGrid columns="2" styleClass="width: 100%">
                            <h:outputText value="#{msg_scan['scan.name']}:"/>
                            <h:outputText value="#{scanController.selectedScan.name}"/>

                            <h:outputText value="#{msg_scan['scan.state']}:"/>
                            <h:outputText value="#{scanController.getScanStateText(scanController.selectedScan)}"/>

                            <c:if test="#{scanController.selectedScan.state eq 'ABORTED'}">
                                <h:outputText value="#{msg_scan['scan.error']}:"/>
                                <h:outputText
                                        value="#{msg_scan['scan.error.' += scanController.selectedScan.scanError]}"/>
                            </c:if>

                            <c:if test="#{not empty scanController.selectedScan.finishedDate}">
                                <h:outputText value="#{msg_scan['scan.state.FINISHED']}:"/>
                                <h:outputText value="#{scanController.selectedScan.finishedDate}"/>
                            </c:if>

                            <h:outputText value="#{msg_scan['scan.scheduleType']}:"/>
                            <h:outputText value="#{scanController.getScheduleTypeText(scanController.selectedScan)}"/>

                            <c:if test="#{scanController.selectedScan.class.simpleName eq 'ScheduledNetworkScan'}">
                                <h:outputText value="Scheduled Date:"/>
                                <h:outputText value="#{scanController.selectedScan.scheduledDate}"/>
                            </c:if>

                            <c:if test="#{scanController.selectedScan.class.simpleName eq 'FrequentNetworkScan'}">
                                <h:outputText value="Interval Date:"/>
                                <h:outputText value="#{scanController.selectedScan.scheduledInterval}"/>
                            </c:if>

                            <h:outputText value="#{msg['ipAddress']}:"/>
                            <h:outputText
                                    value="#{scanController.selectedScan.property.ip}/#{scanController.selectedScan.property.subnetBits}"/>

                            <c:if test="#{scanController.selectedScan.property.class.simpleName eq 'SnmpProperty'}">
                                <h:outputText value="#{msg_scan['scan.searchCriteria']}:"/>
                                <p:selectOneMenu>
                                    <f:selectItem itemLabel="#{msg_scan['scan.searchCriteria']}" itemValue=""
                                                  noSelectionOption="true"/>
                                    <f:selectItems value="#{scanController.selectedScan.property.objectIdentifiers}"
                                                   var="oid" itemLabel="#{oid.name}" itemValue="#{oid}"/>
                                </p:selectOneMenu>
                            </c:if>

                            <c:if test="#{scanController.selectedScan.property.class.simpleName eq 'SnmpProperty'}">
                                <h:outputText value="#{msg_scan['scan.snmpString']}:"/>
                                <h:outputText value="#{scanController.selectedScan.property.communityString}"/>
                            </c:if>
                            <c:if test="#{scanController.selectedScan.property.class.simpleName eq 'SnmpCredentialProperty'}">

                                <h:outputText value="#{msg_scan['scan.security']}:"/>
                                <p:column>
                                    <h:outputText id="detailSecurityLevel"
                                                  value="#{scanController.selectedScan.property.securityLevel}"/>
                                    <p:tooltip for="detailSecurityLevel" position="right"
                                               value="#{msg_scan['scan.security.' += scanController.selectedScan.property.securityLevel += '.hint']}"/>
                                </p:column>

                                <c:if test="#{scanController.selectedScan.property.securityLevel eq 'AUTH_NO_PRIV' or
                                    scanController.selectedScan.property.securityLevel eq 'AUTH_PRIV'}">
                                    <h:outputText value="#{msg_scan['scan.hashAlgorithm']}:"/>
                                    <p:column>
                                        <h:outputText id="detailHashAlgorithm"
                                                      value="#{scanController.selectedScan.property.hashAlgorithm}"/>
                                        <p:tooltip for="detailHashAlgorithm" position="right"
                                                   value="#{msg_scan['scan.hashAlgorithm.' += scanController.selectedScan.property.hashAlgorithm += '.hint']}"/>
                                    </p:column>
                                </c:if>

                                <c:if test="#{scanController.selectedScan.property.securityLevel eq 'AUTH_PRIV'}">
                                    <h:outputText value="#{msg_scan['scan.encryptionAlgorithm']}:"/>
                                    <p:column>
                                        <h:outputText id="detailEncryptionAlgorithm"
                                                      value="#{scanController.selectedScan.property.encryptionAlgorithm}"/>
                                        <p:tooltip for="detailEncryptionAlgorithm" position="right"
                                                   value="#{msg_scan['scan.encryptionAlgorithm.' += scanController.selectedScan.property.encryptionAlgorithm += '.hint']}"/>
                                    </p:column>
                                </c:if>

                                <h:outputText value="#{msg_scan['scan.snmpUsername']}:"/>
                                <h:outputText value="#{scanController.selectedScan.property.username}"/>
                            </c:if>
                        </p:panelGrid>
                    </p:outputPanel>
                </p:overlayPanel>

                <p:dialog header="#{msg['areYouSure']}" widgetVar="dlgRemoveScan" modal="true" resizable="false"
                          showEffect="fade" hideEffect="fade">
                    <p:outputPanel id="pnlRemoveScan">
                        <p:panelGrid columns="1" styleClass="ui-panelgrid-blank">
                            <p:outputLabel
                                    value="#{messages.format(msg_scan['reallyDelete'], scanController.selectedScan.name)}"/>
                            <p:commandButton value="#{msg['delete']}"
                                             actionListener="#{scanController.removeScan(scanController.selectedScan)}"
                                             update="scan-form:scan-table" style="width: 100%"
                                             onclick="PF('dlgRemoveScan').hide();"/>
                        </p:panelGrid>
                    </p:outputPanel>
                </p:dialog>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
