<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view contracts="#{templateBean.contract}">
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <!-- TODO: Provide Setting for a time limit when inactive network components are deleted from database -->
            <!-- TODO: Provide Setting for changing website colors -->
            <!-- TODO: Provide Setting for changing passwords -->
            <h:form>
                <p:commandButton value="Create Example Site" action="#{settingsController.addExampleSite()}"
                                 ajax="false"/>
                <br/>
                <p:commandButton value="Create Site with Manual Scans"
                                 action="#{settingsController.addSiteWithManualScans()}" ajax="false"/>
                <br/>
                <p:commandButton value="Create Presentation Site"
                                 action="#{settingsController.addSiteForPresentation()}" ajax="false"/>
                <br/>
                <p:commandButton value="Create Presentation Site"
                                 action="#{settingsController.addSiteForPresentationFinal()}" ajax="false"/>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
