<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
    <h:form id="table-components">
        <p:dataTable id="component-content" value="#{componentView.componentList}" var="device" liveResize="true"
                     selectionMode="single" selection="#{componentView.selectedComponent}" rowKey="#{device.id}"
                     paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom" rows="10" reflow="true"
                     resizableColumns="true"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {AddRow}">

            <f:facet name="{AddRow}">
                <p:commandButton type="button" onclick="PF('dlgAddComponent').show();"
                                 update="table-components:panelComponentDetail table-components:dlgEditComponent"
                                 icon="fa fa-plus"/>
            </f:facet>

            <p:column headerText="#{msg['hostName']}" sortBy="#{device.hostname}">
                <h:outputText value="#{device.hostname}"/>
            </p:column>

            <p:column headerText="#{msg['modelName']}" sortBy="#{device.modelName}">
                <h:outputText value="#{device.modelName}"/>
            </p:column>

            <p:column headerText="#{msg['ipAddress']}" sortBy="#{device.ip}">
                <h:outputText value="#{device.ip}"/>
            </p:column>

            <p:column headerText="#{msg['macAddress']}" sortBy="#{device.macs}">
                <!--<h:outputText value="#{device.macs}"/>-->
                <p:selectOneMenu style="width: 75%;">
                    <f:selectItems value="#{device.macs}" var="mac" itemLabel="#{mac}" itemValue="#{mac}"/>
                </p:selectOneMenu>
            </p:column>

            <p:column headerText="#{msg['type']}" sortBy="#{device.type}">
                <h:outputText value="#{device.type}"/>
            </p:column>

            <p:column headerText="#{msg['serialNumber']}" sortBy="#{device.serialNumber}">
                <h:outputText value="#{device.serialNumber}"/>
            </p:column>
        </p:dataTable>

        <p:contextMenu for="component-content">
            <p:menuitem value="#{msg['edit']}" update="table-components:panelComponentDetail dlgEditComponent"
                        icon="ui-icon-search"
                        oncomplete="PF('dlgEditComponent').show();"/>

            <p:menuitem value="#{msg['delete']}" icon="ui-icon-close"
                        onclick="PF('dlgRemoveComponent').show();"/>
        </p:contextMenu>

        <p:dialog header="#{msg_components['edit_component']}" id="dlgEditComponent"
                  widgetVar="dlgEditComponent" modal="true" showEffect="fade" hideEffect="fade" resizable="false">

            <p:outputPanel id="panelComponentDetail">
                <p:panelGrid columns="2" rendered="#{not empty componentView.selectedComponent}">
                    <h:outputText value="#{msg['hostName']}" style="width: 90%;"/>
                    <p:inputText value="#{componentView.selectedComponent.hostname}" style="width: 90%;"/>

                    <h:outputText value="#{msg['modelName']}"/>
                    <p:inputText value="#{componentView.selectedComponent.modelName}" style="width: 90%;"/>

                    <h:outputText value="#{msg['type']}"/>
                    <p:selectOneMenu value="#{componentView.selectedComponent.type}" style="width: 80%;">
                        <f:selectItems value="#{componentView.componentTypes}" var="type"
                                       itemLabel="#{msg['componentType.' += type.name()]}"
                                       itemValue="#{type}"/>
                    </p:selectOneMenu>

                    <h:outputText value="#{msg['ipAddress']}"/>
                    <p:inputText value="#{componentView.selectedComponent.ip}" style="width: 90%;"/>

                    <h:outputText value="#{msg['macAddress']}"/>
                    <p:selectOneMenu editable="true" style="width: 80%;">
                        <f:selectItems value="#{device.macs}" var="mac" itemLabel="#{mac}" itemValue="#{mac}"/>
                    </p:selectOneMenu>

                </p:panelGrid>
                <p:commandButton value="#{msg['save']}" update="component-content"
                                 actionListener="#{componentView.editSelectedComponent}"
                                 oncomplete="if (!args.validationFailed) { PF('dlgEditComponent').hide(); }"/>
            </p:outputPanel>
        </p:dialog>

        <p:dialog header="#{msg_components['add_component']}" id="dlgAddComponent"
                  widgetVar="dlgAddComponent" modal="true" showEffect="fade" hideEffect="fade" resizable="false">

            <p:panelGrid columns="2">
                <h:outputText value="#{msg['hostName']}"/>
                <p:inputText value="#{componentView.addComponent.hostname}" style="width: 90%;"/>

                <h:outputText value="#{msg['modelName']}"/>
                <p:inputText value="#{componentView.addComponent.modelName}" style="width: 90%;"/>

                <h:outputText value="#{msg['type']}"/>
                <p:selectOneMenu value="#{componentView.addComponent.type}" style="width: 80%;">
                    <f:selectItems value="#{componentView.componentTypes}" var="type"
                                   itemLabel="#{msg['componentType.' += type.name()]}"
                                   itemValue="#{type}"/>
                </p:selectOneMenu>

                <h:outputText value="#{msg['ipAddress']}"/>
                <p:inputText value="#{componentView.addComponent.ip}" style="width: 90%;"/>

                <h:outputText value="#{msg['macAddress']}"/>
                <p:selectOneMenu editable="true" style="width: 80%;">
                    <f:selectItems value="#{componentView.addComponent.macs}" var="mac" itemLabel="#{mac}"
                                   itemValue="#{mac}"/>
                </p:selectOneMenu>

            </p:panelGrid>
            <p:commandButton value="#{msg['save']}" update="component-content dlgAddComponent"
                             actionListener="#{componentView.addSelectedComponent}"
                             oncomplete="if (!args.validationFailed) { PF('dlgAddComponent').hide(); }"/>
        </p:dialog>

        <p:dialog header="#{msg['areYouSure']}" widgetVar="dlgRemoveComponent" modal="true" resizable="false"
                  showEffect="fade" hideEffect="fade">
            <p:commandButton value="#{msg['delete']}"
                             actionListener="#{componentView.removeSelectedComponent}"
                             styleClass="ui-g-12 ui-g-nopad"
                             update="component-content"
                             onclick="PF('dlgRemoveComponent').hide();"/>
        </p:dialog>

        <p:dialog header="Export" widgetVar="js-dlg-export" modal="true" resizable="false"
                  showEffect="fade" hideEffect="fade">
            <p:panelGrid id="pnlExport" columns="2" styleClass="ui-panelgrid-blank">
                <p:column>
                    <p:outputLabel value="#{msg_components['exportAs']}"/>
                </p:column>
                <p:column>
                    <p:selectOneMenu value="#{componentView.exportType}">
                        <p:ajax event="change" update="pnlExport"/>
                        <f:selectItem itemLabel="#{msg['pleaseChoose']}" itemValue=""/>
                        <f:selectItems value="#{componentView.exportTypes}" var="expTyp"
                                       itemLabel="#{msg_components['exportType.' += expTyp.name()]} #{msg_components['file']}"
                                       itemValue="#{expTyp}"/>
                    </p:selectOneMenu>
                </p:column>

                <p:column>
                    <p:outputLabel value="#{msg_components['fileName']}"/>
                </p:column>
                <p:column>
                    <div class="ui-inputgroup">
                        <p:inputText value="#{componentView.fileName}"/>
                        <span class="ui-inputgroup-addon" style="border: 1px solid #d2d2d2;">
                            #{empty componentView.exportType.type ? '' : '.' += componentView.exportType.type}
                        </span>
                    </div>
                </p:column>

                <p:column/>
                <p:column>
                    <p:commandButton value="#{msg_components['export']}" ajax="false"
                                     icon="fa fa-file-excel-o" style="width: 100%;"
                                     disabled="#{empty componentView.exportType}">
                        <p:dataExporter type="#{componentView.exportType.type}" target="component-content"
                                        fileName="#{componentView.fileName}"/>
                    </p:commandButton>
                </p:column>
            </p:panelGrid>
        </p:dialog>
    </h:form>
</ui:composition>
