<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui">

    <h:form id="form">

        <p:growl id="growl"/>

        <p:organigram id="organigram-content"
                      widgetVar="organigram-content"
                      value="#{organigramView.rootNode}"
                      var="node"
                      selection="#{organigramView.selection}">

            <p:ajax event="dragdrop" process="@this" update="@form:growl"
                    listener="#{organigramView.nodeDragDropListener}"/>
            <p:ajax event="select" process="@this" update="@form:growl"
                    listener="#{organigramView.nodeSelectListener}"/>
            <p:ajax event="contextmenu" process="@this"/>
            <p:ajax event="collapse" process="@this" update="@form:growl"
                    listener="#{organigramView.nodeCollapseListener}"/>
            <p:ajax event="expand" process="@this" update="@form:growl"
                    listener="#{organigramView.nodeExpandListener}"/>

            <p:organigramNode>
                <h:outputText value="#{node.data}"/>
            </p:organigramNode>

            <p:organigramNode type="root"
                              style="border-radius: 10px;">
                <h:outputText value="#{node.data}"/>
            </p:organigramNode>

            <p:organigramNode type="division"
                              styleClass="division"
                              icon="ui-icon-suitcase"
                              iconPos="left">
                <h:outputText value="#{node.data}"/>
            </p:organigramNode>

            <p:organigramNode type="employee"
                              styleClass="employee"
                              icon="ui-icon-person">
                <h:outputText value="#{node.data}"/>
            </p:organigramNode>
        </p:organigram>

        <p:contextMenu for="organigram-content" nodeType="employee">
            <p:menuitem value="fire employee"
                        update="organigram-content"
                        icon="ui-icon-close"
                        actionListener="#{organigramView.removeEmployee()}"/>
        </p:contextMenu>

        <p:contextMenu for="organigram-content" nodeType="division">
            <p:menuitem value="Add employee"
                        ajax="false"
                        icon="ui-icon-plus"
                        onclick="PF('addEmployeeDialog').show(); return false;"/>
            <p:menuitem value="Remove division"
                        update="organigram-content @form:growl"
                        icon="ui-icon-close"
                        actionListener="#{organigramView.removeDivision()}"/>
        </p:contextMenu>

        <p:dialog id="addEmployeeDialog"
                  widgetVar="addEmployeeDialog"
                  header="Add employee">

            <p:inputText value="#{organigramView.employeeName}"/>

            <p:commandButton process="@parent"
                             update=":form:organigram-content"
                             value="Add"
                             actionListener
                                     ="#{organigramView.addEmployee()}"
                             oncomplete="PF('addEmployeeDialog').hide();"/>

        </p:dialog>
    </h:form>

    <style type="text/css">
        #form .ui-organigram .ui-organigram-node.division {
            background: #93e7ff;
            background: -moz-linear-gradient(top, #93e7ff 0%, #007efc 100%);
            background: -webkit-linear-gradient(top, #93e7ff 0%, #007efc 100%);
            background: linear-gradient(to bottom, #93e7ff 0%, #007efc 100%);
        }

        #form .ui-organigram .ui-organigram-node.employee {
            background: #88c048;
            background: -moz-linear-gradient(top, #88c048 0%, #69a038 100%);
            background: -webkit-linear-gradient(top, #88c048 0%, #69a038 100%);
            background: linear-gradient(to bottom, #88c048 0%, #69a038 100%);
        }
    </style>
</ui:composition>