#board .ui-panel,
#board .ui-panel .ui-panel-content {
    padding: 0;
}

#board .ui-widget-header,
#board .ui-mindmap.ui-widget-content {
    border: 0;
}

.fullwidth {
    width: 100%;
}

.float-right {
    float: right;
}

#menu-bottom-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
}

.ui-widget-overlay {
    background: none;
}

/* Make table in dashboard scrollable*/
.ui-datatable-tablewrapper {
    overflow: unset !important;
}

/* Make table in dashbaord scale with size */
.ui-datatable table,
.ui-datatable-resizable table {
    table-layout: unset !important;
}