.ui-selectmanybutton .ui-button-text-only .ui-button-text {
    padding: 0.2em;
}

.scan-state-running {
    background-color: #97a7b3;
    color: black;
}

.scan-state-finished {
    background-color: #368f8b;
    color: white;
}

.scan-state-aborted {
    background-color: #c5283d;
    color: white;
}

.scan-state-pending {
    background-color: white;
    color: black;
}

/* Make scan table resize */
.ui-datatable table,
.ui-datatable-resizable table {
    table-layout: unset !important;
}